.ti-trash,
.ti-pencil,
.ti-save,
.ti-close {
    cursor: pointer;
}
.ti-trash:hover,
.ti-close:hover {
    color: red;
}

.card {
    overflow-x: scroll;
    overflow-y: hidden;
}
.card .content {
    padding: 15px 35px 10px 35px;
}

.filter_input {
    width: 200px;
    display: unset;
    margin: 5px;
}
.table_input {
    display: unset;
}
.border-input {
    height: 40px;
}
.filter_btns {
    border-radius: 5px;
    margin: 5px;
}

.filter_box{
    margin: 20px 0px;
}

.table > thead > tr > th {
    font-size: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .card .content {
        padding: 15px 15px 10px 15px;
    }
}