<div class="container-fluid">
    <!--div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Add Numbers</h4>
                    <p class="category">Here you can add your phone number</p>
                </div>
                <div class="content">
                    <form name="form" (ngSubmit)="addNum.form.valid && this.doAdd() " #addNum="ngForm" validate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{ 'has-error': addNum.submitted && !phone_number.valid }">
                                        <label>Input the phone number</label>
                                        <input type="text" class="form-control border-input" placeholder="Phone Number" name="phone_number" [(ngModel)]="model.phone_number" #phone_number="ngModel" required>
                                        <div *ngIf="addNum.submitted && !phone_number.valid" class="help-block">Phone Number is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Add</button>
                            </div>
                            <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Select Systems</h4>
                    <p class="category">Select one or more system from the list below to perfom an action on.</p>
                    <div class="filter_box">
                        <input type="text" class="form-control border-input filter_input" placeholder="Search" [(ngModel)]="filter_key" (ngModelChange)="loadSystems()">
                        <span class="btn btn-success btn-fill btn-wd filter_btns" (click)="addSystem()">Add System &nbsp;<span class="ti-plus"></span></span>
                        <span class="btn btn-success btn-fill btn-wd filter_btns" (click)="exportAsExcelFile()">Populate with Spreadsheet &nbsp;<span class="ti-download"></span></span>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox" [(ngModel)]="checkboxes[0]" (ngModelChange)="allCheckboxChanged()" /></th>
                                <th>SID</th>
                                <th>Hostname</th>
                                <th>Site</th>
                                <th>OS Type</th>
                                <th>App Type</th>
                                <th>DB Type</th>
                                <th>SID ADM</th>
                                <th>SYS 1</th>
                                <th>SYS 2</th>
                                <th>SYS 3</th>
                                <th>SYS 4</th>
                                <th>SYS 5</th>
                                <th>SYS 6</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="row_editflag[0] == 1">
                                <td></td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.SID_UC" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.AppHost" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.CustName" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.OSType" />
                                </td>
                                <td>
                                    <select class="form-control border-input table_input" style="width: 150px;" [(ngModel)]="new_system.AppType">
                                        <option *ngFor="let at of system_categories.app_type;" value="{{at.val}}">{{at.title}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.DBType">
                                        <option *ngFor="let at of system_categories.db_type;" value="{{at.val}}">{{at.title}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.sidadm" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.num1" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.num2" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.num3" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.num4" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.num5" />
                                </td>
                                <td>
                                    <input type="text" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="new_system.num6" />
                                </td>
                                <td>
                                    <span (click)="cancelAddEdit()" class="ti-close"></span>
                                    <br>
                                    <span (click)="save()" class="ti-save"></span>
                                </td>
                            </tr>
                            <tr *ngFor="let si of system_data; let i = index">
                                <td><input type="checkbox" [(ngModel)]="checkboxes[i+1]" /></td>
                                <td>
                                    <span *ngIf="checkEmpty(si.SID_UC,3)">{{si.SID_UC}}</span>
                                    <span *ngIf="!checkEmpty(si.SID_UC,3)"></span>
                                </td>
                                <td>{{si.AppHost}}</td>
                                <td>{{si.CustName}}</td>
                                <td>{{si.OSType}}</td>
                                <td>
                                    <span *ngIf="checkEmpty(si.AppType,0) && row_editflag[i+1] == 0">{{si.AppType}}</span>
                                    <span *ngIf="!checkEmpty(si.AppType,0) && row_editflag[i+1] == 0"></span>
                                    <select *ngIf="row_editflag[i+1] == 1" class="form-control border-input table_input" style="width: 150px;" [(ngModel)]="si.AppType">
                                        <option *ngFor="let at of system_categories.app_type;" value="{{at.val}}">{{at.title}}</option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="checkEmpty(si.DBType,1) && row_editflag[i+1] == 0">{{si.DBType}}</span>
                                    <span *ngIf="!checkEmpty(si.DBType,1) && row_editflag[i+1] == 0"></span>
                                    <select *ngIf="row_editflag[i+1] == 1" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="si.DBType">
                                        <option *ngFor="let at of system_categories.db_type;" value="{{at.val}}">{{at.title}}</option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="checkEmpty(si.sidadm,2) && row_editflag[i+1] == 0">{{si.sidadm}}</span>
                                    <span *ngIf="!checkEmpty(si.sidadm,2) && row_editflag[i+1] == 0"></span>
                                    <input type="text" *ngIf="row_editflag[i+1] == 1" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="si.sidadm" />
                                </td>
                                <td>
                                    <span *ngIf="row_editflag[i+1] == 0">{{si.num1}}</span>
                                    <input type="text" *ngIf="row_editflag[i+1] == 1" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="si.num1" />
                                </td>
                                <td>
                                    <span *ngIf="row_editflag[i+1] == 0">{{si.num2}}</span>
                                    <input type="text" *ngIf="row_editflag[i+1] == 1" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="si.num2" />
                                </td>
                                <td>
                                    <span *ngIf="row_editflag[i+1] == 0">{{si.num3}}</span>
                                    <input type="text" *ngIf="row_editflag[i+1] == 1" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="si.num3" />
                                </td>
                                <td>
                                    <span *ngIf="row_editflag[i+1] == 0">{{si.num4}}</span>
                                    <input type="text" *ngIf="row_editflag[i+1] == 1" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="si.num4" />
                                </td>
                                <td>
                                    <span *ngIf="row_editflag[i+1] == 0">{{si.num5}}</span>
                                    <input type="text" *ngIf="row_editflag[i+1] == 1" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="si.num5" />
                                </td>
                                <td>
                                    <span *ngIf="row_editflag[i+1] == 0">{{si.num6}}</span>
                                    <input type="text" *ngIf="row_editflag[i+1] == 1" class="form-control border-input table_input" style="width: 100px;" [(ngModel)]="si.num6" />
                                </td>
                                <td>
                                    <span (click)="row_editflag[i+1] = 1" *ngIf="row_editflag[i+1] == 0" class="ti-pencil"></span>
                                    <br *ngIf="row_editflag[i+1] == 0">
                                    <span (click)="remove(i)" *ngIf="row_editflag[i+1] == 0" class="ti-trash"></span>
                                    
                                    <span (click)="cancelEdit(i)" *ngIf="row_editflag[i+1] == 1" class="ti-close"></span>
                                    <br *ngIf="row_editflag[i+1] == 1">
                                    <span (click)="update(i)" *ngIf="row_editflag[i+1] == 1" class="ti-save"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
